.contactsBlock {
    min-height: 50vh;
    background-color: #519a46;
}

.contactsContainer{
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #d2cece;
}

.form {
    border: 1px solid;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    width: 150px;
}

