.skillsBlock {
    min-height: 100vh;
    background-color: greenyellow;
}

.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d2cece;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}