.project {
    width: 350px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    height: 60px;
    width: 60px;
    background-color: #faf4f4;
}

.description {

}

.button {
    background-color: #46889a;
    margin-top: 10px;
}