.project {
    width: 350px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    height: 200px;
    width: 100%;
    background-color: #faf4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: orange;
}

.description {
  background-color: orange;
}

.button {
    background-color: #46889a;
    text-decoration: none;
    user-select: none;
    padding: 10px 25px;
}