.projectsBlock {
    height: 100vh;
    background-color: #46889a;
}

.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d2cece;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
